
@import url('https://fonts.googleapis.com/css2?family=Damion&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,200;1,600&family=Roboto:wght@300;400;500&display=swap');


*{

    top{
        width:100%;
        background-color:#653e0c ;
        border-bottom:2px solid #f0f0f0;
    }
    .top div{
        width:1220px;
        position:absolute ;
        color:#fff;
        background-color:#5a2e08 ;
        font-family:calibri;
        padding:3px;
        text-align:right;
    }
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

    

}
:root {
    --main-color:#ff702a;
    --text-color:#fff;
    --bg-color:#000001;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*::selection{
    background: var(--main-color);
    color: #fff;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);

}
.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
section{
    padding: 70px 17%;
}

.middle{
	width:auto;
    height: 500px;
	border-bottom:2px solid #d35c42;
    background-repeat: inherit;
    
}
.middle div{
	width:auto;
	height: 500px;
	font-family:calibri;
}
.middle div p{
	width:auto;
	font-weight:bold;
	height:500px;
	color:#cd5844;
	opacity:0.6;
	font-size:50px;
	background-color:#000;
    
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;

}
.home-text h1{
    font-size: var(--big-font);
    color: var(--main-color);
}
.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}
.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
    transition: .4s;
}
.btn:hover{
    transform: scale(1.2) translateY(18px);
    
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}
.about-text h2{
    font-size: var(--h2-font);
}
.about-text span{
    color: var(--main-color);
    font-weight: 600;
}
.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.7;
}
.heading{
    text-align: center;
}
.heading span{
    color: var(--main-color);
    font-weight: 600;
}
.heading h2{
    font-size: var(--h2-font);
}



.menu-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}
.box{
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #feeee7;
    padding: 20px;
    border-radius: 0.5rem;
    
}
.box-img{
    height: 220px;
    width: 220px;
}
.box-img img{
    width: 100%;
    height: 100%;
}
.box h2{
    font-size: 1.3rem;
    color: var(--bg-color);
}
.box h3{
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 400;
    margin: 4px 0 10px;
}
.box span{
    font-size: var(--p-font);
    color: var(--main-color);
    font-weight: 600;
}
.box .bx{
    background: var(--main-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 0 0.5rem 0 0.5rem;

}

.service-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(240px, auto)); 
    grid-gap: 1.5rem;
    margin-top: 4rem;
}
.s-box{
    text-align: center;
    padding: 20px 30px;
}
.s-box img{
    width: 90px;
}
.s-box h3{
    margin: 4px 0 10px;
    color: var(--main-color);
    font-size: 1.2rem;
}
.s-box p{
    line-height: 1.7;
}
.cta{
    background: #feeee7;
    padding: 70px 0;
    text-align: center;
    margin: 100px auto;
    border-radius: 10px;
    width: 66%;
}
.cta h2{
    font-size: 2rem;
    color: var(--bg-color);
    margin-bottom: 30px;
}
.main{
   display: flex;
   flex-wrap: wrap;
}
.footer{
    padding: 10px 0;
}
.col{
    width: 25%;
}
.col h4{
    position: relative;
    color: var(--text-color);
    font-size: 1.2rem;
    margin-bottom: 25px;
}
.col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}
.col ul li:not(last-child){
    margin-bottom: 15px;
}
.col ul li a{
    color: #9897a9;
    font-size: 1.1rem;
    display: block;
    text-transform: capitalize;
    transition: .4s;
}
.col ul li a:hover{
    color: var(--text-color);
    transform: translateX(-12px);

}
.col .social{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col .social a{
    height: 40px;
    width: 40px;
    background: var(--main-color);
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .4s;
}
.col .social a:hover{
    transform: scale(1.2);
    color: var(--bg-color);
    background: var(--text-color);
}

@media (max-width: 1560px) {
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font:3.5rem;
        --h2-font:2rem;
    }
}
@media (max-width: 1140px) {
    section{
        padding: 50px 8%;
    }
    #menu-icon {
        display: initial;
        color: var(--text-color);
    }
    header .navbar {
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #2b2640;
        transition: .3s;
    }
    header .navbar.active{
        top: 70px;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .col{
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 720px) {
    header {
        padding: 10px 16px;
    }
    .home{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .about-img{
        order: 2;
    }
    section{
        padding: 100px 7%;
    }
}

@media (max-width: 575px) {
    .col{
        width: 100%;
    }
}






input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=submit] {
    background-color: #202346;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:200px;
  }
  
  input[type=submit]:hover {
    background-color: #FB5C02;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #shopping-cart {
    position: flex;
    top: 10px;
    right: 10px; 
    cursor: pointer;
}

.cart-icon {
    font-size: 40px;
    margin-right: 5px;
}

.cart-content {
    display: none;
    position: absolute;
    top: 30px;
    left: 0; 
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-content.show {
    display: block;
}

button{
    color: white;
    background-color: green;
    font-weight: bold;
}


.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
    background-color: #e1671b;
    }
  
  
    input[type=submit] {
      background-color: #d26c06;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width:200px;
      position: absolute;
      left: 1050px;
      
    }
    
    input[type=submit]:hover {
      background-color: green;
    
    }










    .container {
        height:200px;
        weight:200px;
      border: 2px solid #ccc;
      background-color:  #846d6e;
      border-radius: 5px;
      padding: 16px;
      margin: 50px 250
    }
    
    .container::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .container img {
      float: left;
      margin-right: 20px;
      border-radius: 50%;
    }
    
    .container span {
      font-size: 20px;
      margin-right: 5px;
    }
    
    @media (max-width: 500px) {
      .container {
          text-align: center;
      }
      .container img {
          margin: auto;
          float: none;
          display: block;
      }
    }
    
    .checked {
      color: rgb(110, 39, 50);
    }
























    .nav_down{
        width:100%;
        background-color:#be4624 !important;
        border-bottom:2px solid #f0f0f0;
    }
    .nav_down div{
        width:1200px;
        color:#fff;
        background-color:#423535;
        font-family:calibri;
        padding:10px;
        text-align:left;
    }
    